.logo{
    height: 39px;
}

.container-box{
    height: 90vh;
}
textarea{
    padding: 9px 0px;
    font-size: 23px;
}
.send form{
    height: 57px;
}
.message{
    padding: 11px;
    margin: 8px 14px
}
.message h4{
    font-size: 20px;
}
.message p{
    font-size: 16px;
}